<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mangan Da Kita</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>

    
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid" href="/"><img width="3%" src="./images/logo.png" alt="">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/contactinfo">Contact Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Tech Used</a>
                </li>
                <li class="nav-item dropdown">
                    <li class="nav-item">
                        <a class="nav-link" href="/signin">Sign in<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign up</a>
                    </li>
                </ul>
            </div>
            </div>
        </nav>
       
       
        <div class="body text-center">
    <section class="my-5">
    <h2 class="h1-responsive font-weight-bold text-center my-5">Technology Used in Creating This Project</h2>
    <p class="text-center w-responsive mx-auto pb-5">Here is the list of technology used in creating this Assessment project.</p>  
       
    
            <table class="table text-center">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Technology</th>
            <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Visual Studio</td>
            <td>Microsoft Visual Studio is an integrated development environment from Microsoft. It is used to develop computer programs, as well as websites, web apps, web services and mobile apps.</td>
            </tr>
            <tr>
            <th scope="row">2</th>
            <td>HTML Map Generator</td>
            <td>HTML Maps Generator. Copy and paste the iframe maps code towebsite. A free and easy. Satellite on or off. Change Width and Height. Zoom Adjustments. Enter Business Address.</td>
            </tr>
            <tr>
            <th scope="row">3</th>
            <td>MySQL</td>
            <td>MySQL Database Service is a fully managed database service to deploy cloud-native applications.</td>
            </tr>
            <tr>
            <th scope="row">4</th>
            <td>Photopea</td>
            <td>Photopea is a web-based graphics editor which can work with raster and vector graphics. It can be used for image editing, making illustrations, web design or converting between different image formats.</td>
            </tr>
        </tbody>
        </table>
    
</div>
</body>
</html>